body{
    margin: 0;
    font-family: raleway;
}

header{
background-color: white;
width: 100%;
display: flex;
align-items: center;

}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color:#903e6e;
    margin-bottom: 40px;
    position: relative;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 15px 5px;
    border: 2px solid #903e6e;
    border-radius: 25px;
}

.menu a:hover{
    background-color: rgb(250, 208, 248);
    color: #000000;
    font-weight: bolder;
}

.zagolovok{
    display: flex;
    text-align: center;
    color: #7a375e;
    font-size: 1.3em;
    justify-content: center;
}

.questions{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 40px;
}

.block{
    align-items: center;
    background-color: #903e6e;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40%;
    color: white;
    padding: 20px;
    box-shadow: 4px 4px 8px rgb(60, 60, 60);
}

.block p{
   font-weight: bold;
   font-size: 30px;
   margin: 0;
   text-align: center;
}

.block ul{
   font-style: italic;
    font-size: 25px;
}

.block li{
font-size: 20px;
font-weight: normal;
}

.image{
    background-image: url(img/foto2.jpg);
    background-size: cover;
    width: 40%;
    color: white;
    text-align: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    text-decoration: wavy black;
	text-shadow:2px 2px 2px #000;
    box-shadow: 4px 4px 8px rgb(60, 60, 60);
    flex-direction: column-reverse;
}

.image p{
    background-color: #00000052;
    font-weight: lighter;
    margin: 0;
    height: min-content;
}

.prof{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 300px;
    color: #7a375e;
    text-align: center;
    font-size: 1.4em;
    border: 2px solid #903e6e;
    border-radius: 25px;
    justify-content: space-evenly;
}

.card img{
    max-height: 180px;
    height: 60%;
    max-width: 180px;
}

.card h4{
    margin: 0;
    color: black;
}

